{{#partial "content"}}

    <h1 style="text-align:center; font-weight:bolder">CREATE A DEPARTMENT </h1>
    <hr>

        <form action="/departments" method="post">
    <div class="form-group">
        <label for="nameOfDepartment">Department name</label>
        <input type="text" name="nameOfDepartment" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="type">Description</label>
        <input type="text" name="detail" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="numberOfEmployees">Number of Employees</label>
        <input type="number" id="numberOfEmployees" name="numberOfEmployees" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
        </form>

    {{/partial}}

{{>layout.hbs}}