<!DOCTYPE html>
<html>
<head>
    <title> {{#block "title"}}Organisational News Portal{{/block}}</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Grenze&display=swap" rel="stylesheet">
</head>
<body>
<div class="nav navbar-dark bg-primary nav-tabs nav justify-content-center">
    <li><a href="/">Home</a></li>
    <li><a href="/">Home</a></li>
    <li><a href="/">Home</a></li>
    <li><a href="/">Home</a></li>

    <div class="container">
    </div>
    {{#block "content"}}
        {{/block}}
</div>
</body>

</html>