{{#partial "content"}}

    <div class="welcome">

        <h1 style="text-align:center;">Welcome to the News Portal</h1>

        <div class="button">
            <a class="btn btn-success" href="/departmentform">Welcome</a>
        </div>

    </div>


{{/partial}}

{{>layout.hbs}}